:root {
  font-size: 62.5%;
  --font-poppins: 'poppins';
  --font-hammer: 'hammersmith one';
  --font-roboto: 'roboto';
  --background-color: linear-gradient(to right bottom, #232323, #151515);
  --text-color: white;
  --text-color2: skyblue;
  --text-color3: lavenderblush;
  --text--color4: #989afe;
  --glass:  linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

body,
html {
  width: 100%;

}
button{
  cursor:pointer;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}